body {
    margin: auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #aaabad;
    text-align: start;
    max-width: 80em;
}


a {
    color: rgb(5, 96, 138);
    text-decoration: none;
}

