<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="/static/main.css">
<h1><a href="/" >Echo Chamber </a> > <a href="/c/{{back}}" > {{formback}} </a> > {{thready.1}} </h1>

<h2>{{thready.1}}</h2>
<p style="white-space: pre-line">{{thready.2}}</p>
Posted by <a href="/p/{{thready.0.1}}"> {{thready.0.1}} </a>

<br>
Posted at {{thready.4}}

<hr>
{%for message in messages%}

<a href="/p/{{message.1}}">{{message.1}}</a>
<br>
<p style="white-space: pre-line">{{message.0}}</p>
<form action = "{{where}}" method = "POST">
{{message.2}} echo <button type="sumbit" name="value" value="+">+</button> <button type="submit" name="value" value="-">-</button>
<input type="hidden" name="mid" value="{{message.4}}">
</form>
<br>
Posted at {{message.3}}
<hr>
{%endfor%}


<form action="{{where}}" method="POST">
    <h3>Post a message:</h3> <br>
    <textarea name="message" cols="30" rows="10"></textarea><br><br>
    <input type="submit" value="Submit">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
    function vote(value){
        a = document.getElementById(value);
        a.style.display = "none"
    }
</script>