<a href="/" ><h1>Echo Chamber</h1> </a>
<a href="/c/{{backl}}" ><h2>{{back}}</h2> </a>
<h3>{{thready.1}}</h3>

{{thready.2}}
<br>
<br>
<a href="/p/{{thready.0.1}}"> Posted by {{thready.0.1}} </a>

<br>
Posted at {{thready.4}}

<hr>
{%for message in messages%}

<a href="/p/{{message.1}}">{{message.1}}</a>
<br>
<br>
{{message.0}}
<br>
<br>
{{message.2}} echo
<br>
Posted at {{message.3}}
<hr>

<br>
{%endfor%}

<form action="{{where}}" method="POST">
    <h3>Post a message:</h3> <br>
    <textarea name="message" cols="30" rows="10"></textarea><br><br>
    <input type="submit" value="Submit">
</form>